   <title>Login Here to Access Citi Bike Marketing Inventory</title>
 </head>
   <body>
    <h1>Welcome back!</h1>
    <h2>Please enter the email and password that you used to signup.</h2>
    <form method="POST" action="/login">
      <p>Email: <input name="email" type="email"></p>
      <p>Password: <input name="password" type="password"></p>
      <input type="submit" value="Login">
    </form>
 
  </body>
</html>