 </head>
   <body>
    <h2>Sign up here to access Citi Bike marketing inventory.</h2>
    <h3>Please enter your email and password below to sign up.</h3>
    <form method="POST" action="/signup">
      <p>Email: <input name="email" type="email"></p>
      <p>Password: <input name="password" type="password"></p>
      <input type="submit" value="Signup">
    </form>


  <body>
        <div class="main_div">
            <h3>Already signed up?</h3>
            <div class="sub_div"> 
    <form method="POST" action="/login">
      <input type="submit" value="Login">
    </form>
            </div>
        </div>
    </body>  

     
  </body>
</html>
