<h1>Edit your item </h1>

<form method="POST" action="/items/<%= @item.id %>">

    <input type="hidden" name="_method" value="PUT">
    Title: <input type="text" name="item[name]" value="<%= @item.name%>">
    <input type="submit" value="Update Item">
</form>