<h2>Inventory List</h2>

<% @items.each do |i|  %> 

  <%= i.id %> -  <a href="/items/<%=i.id%>"><%=i.name %></a> <br>
<% end %>

<% if logged_in? %>
  <h3>You are logged in with the following email:  <%= current_user.email %></h3>
<% end %>





