<h2>Inventory List</h2>
<% if logged_in? %>
  <h3>Logged in user:  <%= current_user.email %></h3>
<% end %>
<% @items.each do |u|  %> 

  <%= u.id %> -  <a href="/items/<%=u.id%>"><%=u.title %></a> <br>
<% end %>



