<h2>Marketing Materials Inventory List</h2>
<h3>Click on an item name to see more details about that item.</h3>

<% @items.each do |i|  %> 

  <a href="/items/<%=i.id%>"><%=i.name %></a> <br>
<% end %>

    <div>
        <br>
        <a href="/items/new">Add a new item</a> |    
        <a href="/logout">Logout</a>
    </div>

<% if logged_in? %>
  <br>
  <i>You are logged in with the following email:  <%= current_user.email %><i>
<% end %>







