<h2>Here are more details about your item. </h2>
Click "Edit" to edit the item details. Click "Delete Item" to delete it from inventory.
<br>
<br>
<h3>Title: <%= @job.title %> </h3>
<h3>Level: <%= @job.level %> </h3>
<h3>Link: <%= @job.link %> </h3>