<!DOCTYPE html>
<html>
    <head>
         <title>Citi Bike Event Marketing Inventory</title>
         <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <a href="/items/menu">Menu</a> |
        </div>
        <%= yield %>
    </body>
</html>

<h2>What would you like to do?</h2>

<h2>See current inventory list</h2>
<h2>Add an item</h2>
<h2>Edit an item</h2>
<h2>Delete an item</h2>

<h2>Steph to Make Logout Button</h2>
