<!DOCTYPE html>
<html>
    <head>
         <title>Citi Bike Marketing Inventory</title>
         <meta charset="UTF-8">
    </head>
    <body>
    <img src="//d21xlh2maitm24.cloudfront.net/nyc/Citi-Bike-provided-by-Lyft-Positive-170x57px.svg?mtime=20201023151104" class="logo" alt="Logo" style="max-width: 25%;" >
        <h1> Citi Bike Marketing Inventory Tracker </h1>
        <%= yield %>
    </body>
</html>