<!DOCTYPE html>
<html>
    <head>
         <title>Citi Bike Marketing Inventory</title>
         <meta charset="UTF-8">
    </head>
    <body>
        <h1> Citi Bike Marketing Inventory Tracker </h1>
        <%= yield %>
    </body>
</html>